body {
	font: Comfortaa, Arial, sans-serif;
	font-size: 100%;
	/*background-color: #E825C1;*/

}

.header-container {

	display: flex;
    
    padding: 0;
    margin: 0;
    background-color: #f7f2f5;

}



.header-container header{
	max-width: 1000px;
	display: flex;
	align-items: center;
	margin: auto;
	justify-content: space-between;
}

.title {
	margin-top: auto;
    margin-bottom: auto;
	color: #F29F05 ;
}

h1,
h2,
h3 {
	color: #0D0D0D ;
	text-align: center;
	color: #F29F05 
}

/* 
p {
	color: white;
}*/

ul {
	display: flex;
	list-style-type: none;
	padding: 1em;

}


nav {
	 margin-left: 20em;
}


nav a{

    padding-left: 35px;
    padding-right: 35px;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}


nav a:hover{
    color: #F29F05 ;
    text-decoration:underline;
}

.main-container {
	/*background-color: #E825C1*/
}


.main-container article {background-color:var(--color-white);
   padding:1em;
   margin: 1em;
   position:relative;
   overflow:hidden;
 
}

.main {
	max-width: 800px;
	margin: auto;

}

.main-container aside {
	max-width: 800px;
	margin: auto;

}

aside {
    padding: 1em;
    border: solid #F29F05;
	}

.footer-container {
	background-color: #f7f2f5; 
}

.footer-container .wrapper {
 	max-width: 1000px;
 	display: flex;
	margin: auto;
	text-align: center;
}
