/* CSS RESET */

*, *::after, *::before {
   box-sizing:border-box;
}

:root {
   --font-sans:Montserrat, Arial, sans-serif;
   --font-serif:Cambria, Georgia, serif;


   --color-neutral-light:#F5FBFD;
   --color-neutral-medium:#B3D4D5;
   --color-neutral-dark:#F8ECE3;

   --color-main-light:#AADCF1;
   --color-main-medium:#DAA275;
   --color-main-dark:#419497;

   --color-white:#fff;
   --color-black:#111;

   --header-height:3rem;
}

body {
   margin:0;
   font-size:100%;
   font-family: 'Montserrat', sans-serif;
   /*var(--font-sans*/);
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family:var(--font-sans);
}

h1 {
  color: var(--color-main-dark);
}

a {
   color:inherit;
   text-decoration:none;
   /*font-weight:bold;*/
}
a:hover {
   /*text-decoration: underline;*/
   color:var(--color-main-medium) ;
}

/*.bar-icons a:hover{color:var(--color-main-medium) ;}*/





/* Layout Classes */
.hidden { display:none; }

.display-flex { display:flex; }
.display-block { display:block; }
.display-inline-flex { display:inline-flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex:1 1 auto; }
.flex-none { flex:none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }
.flex-vertical { flex-direction:column; }


.margin-auto {
  margin: auto;
}


.overscroll {
  overflow:auto;
  height:100%;
  width:100%;
}







/* PAGE ELEMENTS */
/*[data-role="page"].ui-page-active {
   display:flex;
   flex-direction:column;
}
[data-role="main"] {
   flex: 1 1 100%;
}*/


[data-role="page"].ui-page-active {
   display:flex;
   flex-direction:column;
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:100%;
   overflow:hidden;
}
[data-role="main"] {
   flex: 1 1 100%;
   overflow:hidden;
   position:relative;
}

[data-role="footer"]{
   flex: none;
   height: var(--header-height);
   line-height: var(--header-height);
   border-width:0;
   background-color: var(--color-white);
   box-shadow:0 0 5px rgba(0,0,0,0.2);
   position:relative;
   overflow:hidden;
    /*display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--header-height);
    line-height: var(--header-height);
    border-width: 0;
    background-color: var(--color-white);
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    overflow: hidden;
    position: fixed;
    width: 100%;
    bottom: 0;
    overflow: hidden;
*/
}


[data-role="footer-not-main"]{
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--header-height);
    line-height: var(--header-height);
    border-width: 0;
    background-color: var(--color-white);
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    overflow: hidden;
    position: fixed;
    width: 100%;
    bottom: 0;
    overflow: hidden;

}



[data-role="header"] {
   flex: none;
   height: var(--header-height);
   line-height: var(--header-height);
   border-width:0;
   background-color: var(--color-white);
   box-shadow:0 0 5px rgba(0,0,0,0.2);
   position:relative;
   overflow:hidden;
    

}



/* Navigation Elements */
[data-role="header"] a,
[data-role="footer"] a {
  display:block;
  margin:0;
}

[data-role="header"] ul,
[data-role="footer"] ul {
  list-style-type:none;
  margin:0;
  padding:0;
  display:flex;
  position:relative;
}
[data-role="footer"] li {
  text-align:center;
  flex: 1 1 auto;
}

[data-role="header"] a {
  padding: 0 1em;
}



.ui-header .ui-title {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   /*height:100%;*/
   text-align:center;
   margin:0;
   font-size:1rem;
   padding:0;
}







/* FORM ELEMENTS */
.form-control
 {
    margin: 1em 0;
}
.ui-mobile .form-label {
    margin: 1em 0;
    font-size: 0.7em;
    color: var(--color-main-dark);
}
.form-input {
    width: 100%;
    display: inline-block;
    border: 1px solid var(--color-main-light);
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    outline: 0;
    font:inherit;
}
.form-button {
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    border-width:0;
    background-color:var(--color-main-light);
    outline: 0;
    width: 100%;
    display: inline-block;
    font:inherit;
    text-align:center;
    cursor:pointer;

}
/*.form-button:hover {
   text-decoration:none;
   background-color:var(--color-neutral-medium);
}*/




/* MODAL */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity:0;
    pointer-events:none;
    transition:all 0.3s;
}
.modal.active {
  opacity:1;
}


.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}
.modal.active .modal-back {
  pointer-events:initial;
}


.modal-popup {
  position: absolute;
  width:80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,calc(-50% + 5vh));
  border-radius:5px;
  overflow:hidden;
  transition:all 0.3s;
}
.modal.active .modal-popup {
  transform: translate(-50%,-50%);
  pointer-events:initial;
}
.modal-popup.small {
  width:initial;
}




.modal-drawer {
  position:absolute;
  display:flex;
  flex-direction:column;
  transition: all 0.3s;
  box-shadow:0 0 5px rgba(0,0,0,0.3);
}
.modal-drawer.left,
.modal-drawer.right {
  height:100%;
  width:70vw;
}
.modal-drawer.left { left:0; transform:translateX(-100%); }
.modal-drawer.right { right:0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
  height:30vh;
  width:100%;
}
.modal-drawer.top { top:0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom:0; transform:translateY(100%); }

.modal.active .modal-drawer {
  transform:translate(0);
  pointer-events:initial;
}



.modal-drawer.modal-card {
  padding:1em;
  box-shadow:none;
}
.modal-card .modal-body {
  box-shadow:0 0 5px rgba(0,0,0,0.3);
  border-radius:1em;
}


.modal-head,
.modal-foot {
  background-color:var(--color-neutral-light);
  padding:0.5em 1em;
}
.modal-body {
  background-color:var(--color-white);
  flex: 1 1 100%;
  padding:0.5em 1em;
  position:relative;
  overflow:hidden;
}












/* ICONS */
.icon svg,
.icon img {
  width:1em;
  height:1em;
  vertical-align: text-bottom;
}


.title-icons .title,
.title-icons .icon {
  display:block;
}
.title-icons .icon {
  line-height:calc(var(--header-height)*(2/3));
  font-size:1.5em;
}
.title-icons .title {
  line-height:calc(var(--header-height)*(1/3));
  font-size:0.7em;
}






/* FLOATERS */
.floater { position:absolute; }
.floater.right { right: 0; }
.floater.left { left: 0; }
.floater.top { top: 0; }
.floater.bottom { bottom: 0; }

.floater .icon {
  padding:0.5em 1em;
  display:block;
}











/* Image Elements */
.ui-mobile a img{
    border-width: 1em;
    height: 2em;
    border-radius: 0.7em;
  }

.ui-link a img {
  height: 2em;
}



  /* Module 4 new added*/


  .margin-1em {
    margin: 1em;
  }


ul  {
  padding-left: 0;
}

  li {
    list-style: none;
    margin-bottom: 0.5em;
   
  }

  .animal-detail {
    margin: 0;
    display: block;
    height: 100%;
  }

  .animal-img {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
  }

  .animal-img img {
        position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }




  a.ui-link.animal-detail.display-flex {
    display: flex;
    padding-left: 40px;
  }

  .ui-link .detail-img {
    border-width: 1em;
    height: 4em;
    border-radius: 0.7em;
  }

  .bottom-line {
    border-bottom: 1px solid var(--color-main-light);
    padding-bottom: 0.5em;}

  .description {
    margin: 1em;
  }

.top-bar-icons {
  padding: 0.5em 1em;
}



/*.map img {
  width: 100%;
}*/


/* remove this later */
.map {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}


.bottom-box {
  margin:1em;

}

.bottom-box input {

border: solid var(--color-main-light);
border-radius: 5em;
padding:0.5em;
}


/*.signin-page {
  background-image: url('../img/signin-01.png');
  background-position:center;
  background-size:cover;
}*/

.logo-signin img {
  width:100% ;
  height: auto;
}

.form-frame {
  margin: 2em 1em;
  padding:1em;
}


.text-signin-page p{
  text-align: center;
  font-size: 0.8em;
}


.bar-icons {
  padding-top: 1em;
}

.float-button {
    border-radius: 3em;
    width: 3em;
    background-color: white;
    border: none;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
     top: 90%; 
    z-index: 1;
   /* color: var(--color-main-light);*/
}


.text-center {
  text-align: center;
}

.profile-photo {
  width: 10em;
  border-radius: 10em;
  margin: 2em auto;
}


.page-button {
      margin: 2em auto;
}

/*.card {
  display: flex;
    align-items: center;
    line-height: var(--header-height);
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
}

.padding-1em {
  padding:1em;
}*/



.card {
   background-color:var(--color-white);
   padding:1em;
   margin: 1em;
   position:relative;
   overflow:hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
    /* border: solid 0.01rem #C2CFE1; */

}

.full-card {
      background-color: var(--color-white);
    padding: 1em;
    margin: 2em 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(0,0,0,0.1);
}


.detail-title {
      margin: auto;
 /*   position: relative;
    left: 50%;*/
    line-height: 0.1em;
}


.animal-profile-img {
  width: 100%;
}


/*.nav-bar-icon svg {
  height: 24px;
    margin: 12px 0;
}*/


.nav-bar-icon .icon {
  font-size: 1.2em;
    margin: 0.25em auto;
}
/* remove this later */
#recent-page [data-role='main'] {
  background-image: url('../img/map01.png');
  background-position:center;
  background-size:cover;
}


/* ANIMAL PROFILE PAGE */
.animal-top {
  flex:none;
  height:40vh;
  background-position:center;
  background-size:cover;
}
.animal-bottom {
  flex:1 1 100%;
  position:relative;
  overflow:hidden;
}
.animal-bottom-section {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.animal-nav {
  text-align:center;
}

.animal-nav li {
  position:relative;
}
.animal-nav .active::after {
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:3px;
  background-color:var(--color-main-medium);
}
.animal-bottom-section {
  display:none;
}
.animal-bottom-section.active {
  display:block;
}



.animallist {
}
.animallist-item {
  font-weight:normal;
  margin: 1em;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}
.animallist-image img{
  width:100px;
  height:100px;
  vertical-align: middle;
}
.animallist-description {
  padding:1em;
}
.animallist-name {
  font-size:1.3em;
}


.animal-image-thumb img {
  width:6em;
  height:6em;
  vertical-align: middle;
}



.animal-jump * {
  pointer-events:none;
}






/* Navigation Elements */
.header a,
[data-role="header"] a,
[data-role="footer"] a {
  display:block;
  margin:0;
}

.header ul,
[data-role="header"] ul,
[data-role="footer"] ul {
  list-style-type:none;
  margin:0;
  padding:0;
  display:flex;
  position:relative;
}
[data-role="footer"] li {
  text-align:center;
  flex: 1 1 auto;
}

.header a,
[data-role="header"] a {
  padding: 0 1em;
}


.header {
  width:100%;
   height: var(--header-height);
   line-height: var(--header-height);
}

.animal-info {
   background-color:var(--color-neutral-light);
   padding:1em;
   margin: 1em;
   position:relative;
   overflow:hidden;
   text-align: center;
   font-size: 1.2em;

}

.animal-name {
  padding: 0.5em 0;
}

.animal-size {
  padding: 0.5em 0;
}

.animal-breed {
  padding: 0.5em 0;
}


.circle-button {
  display:inline-block;
  vertical-align:middle;
  background-color:white;
  box-shadow:2px 2px 5px rgba(0,0,0,0.2);
  border-radius:50%;
  height:var(--header-height);
  line-height:var(--header-height);
  width:var(--header-height);
  text-align:center;
  font-size:2em;
}
