


html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color:#F7F2F5;
}

/* Layout Classes */
.container {
   max-width:1000px;
   margin-right:auto;
   margin-left:auto;
}

.hidden { display:none; }

.display-flex { display:flex; }
.display-block { display:block; }
.display-inline-flex { display:inline-flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex:1 1 auto; }
.flex-none { flex:none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }




body{
    display: flex;
    flex-direction: column;   
}

.header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 0;
    margin: 0;
    background-color: #f7f2f5;
}

.title{
    margin-top: auto;
    margin-bottom: auto;
}

.title a{
    font-family: futura, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin:42px;
    padding-left: 35px;
    text-decoration: none;
    color: inherit;
    
}


.nav_bar{ 
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 42px;
}

nav a{
    padding-left: 35px;
    padding-right: 35px;
    text-decoration: none;
    color: inherit;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
}

h3 {
  font-family: 'Merriweather Sans', sans-serif;
    font-weight: lighter;
}

nav a:hover{
    color: #E825C1;
}


.work-img img {
    top: 0;
    left: 0;
    width: 100%;
    height: 485px;
    object-fit: cover;
  }


.small-icon{
margin:0.5em;
}

  .small-icon img {
    width:25px;
  }


    .container {
   max-width: 1200px;
   margin-right: auto;
   margin-left: auto;
       margin-top: 2em;
}

.card {
   background-color:var(--color-white);
   padding:1em;
   margin: 1em;
   position:relative;
   overflow:hidden;

}



   .work-info-title {
    text-align: center;
}



/* ACCORDION */
.accordion dt {
    background-color: var(--color-main-medium);
    padding: 0.5em calc(1em + 2px);
    color: white;
    font-weight:bold;
    cursor:pointer;
}
.accordion dt~dt {
   margin-top:1em;
}
.accordion dd {
    padding: 1em;
    margin-left: 0;
    border: 2px solid var(--color-main-medium);
    border-top-width:0;
    display:none;
}




/* TAB GROUP */
.tabgroup {}
.tabgroup .tabs {
    display: flex;
    border-bottom: 1px solid var(--color-neutral-light);
}
.tabgroup .tab {
    padding: 0.5em 1em;
    position: relative;
}
.tabgroup .tab:hover {
   background-color:var(--color-neutral-light);
   cursor:pointer;
}
.tabgroup .tab::after {
   content:'';
   position:absolute;
   bottom:0;
   left:0;
   width:100%;
   height:0;
   background-color:var(--color-main-medium);
   transition:all 0.3s;
}
.tabgroup .tab.active::after {
   height:3px;
}
.tabgroup .contents {
   position:relative;
   overflow:hidden;
   height:40vh;
}
.tabgroup .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
    pointer-events: none;
    opacity: 0;
    transition:all 0.3s;
}
.tabgroup .content.active {
   opacity:1;
   pointer-events: initial;
}